% -*- tex -*-
\documentclass{dune}
\input{common/preamble}

\renewcommand\thedoctitle{Validate Spreadsheet}
\newcommand\thevolumenumber{0} 


\begin{document}
\input{common/init}


\section{The long table}

~{ include 'spec-longtable.tex.j2' }~
%~{ include 'longtable-test.tex.j2' }~ %Use to test new formats.

\section{Selected Top As Long Table}

~{ include 'selected-top.tex.j2' }~

\section{The per row table}

~{ for req in subsys }~
~{ include 'spec-table-one.tex.j2' }~
~{ endfor }~

\end{document}