\begin{table}[htp]
  \caption{Specification for ~{{ req.gid }}~ \fixmehl{ref \texttt{tab:spec:~{{ req.label }}~}}}
  \centering
  \begin{tabular}{p{0.2\textwidth}p{0.75\textwidth}} 
     \rowcolor{dunesky}
    \newtag{~{{ req.gid }}~}{ spec:~{{ req.label }}~ } 
                & Name: ~{{ req.name }}~    \\ 
    Description & ~{{ req.text }}~   \\  \colhline
    ~{ if req.goal -}~
    Specification (Goal) &  ~{{ req.vlatex }}~  ( ~{{ req.goal }}~ ) \\   \colhline
    ~{ else }~
    Specification &  ~{{ req.vlatex }}~ \\   \colhline
    ~{ endif }~
    Rationale &   ~{{ req.rationale }}~  \\ \colhline
    Validation & ~{{req.validation}}~  \\
   \colhline
  \end{tabular}
  \label{tab:spec:~{{ req.label }}~}
\end{table}