~{ set s = collection_value }~
\begin{table}[htp]
  \caption{Specification for ~{{ code }}~ ~{{ collection_key }}~}
  \centering
  \begin{tabular}{p{0.2\textwidth}p{0.75\textwidth}} 
     \rowcolor{dunesky}
    \newtag{~{{ s.gid }}~}{ spec:~{{ s.label }}~ } \fixme{~{{ s.label }}~}
                & Name: ~{{ s.name }}~    \\ 
    Description & ~{{ s.text }}~   \\  \colhline
    Specification (Goal) &  ~{{ s.vlatex }}~  ({ ~{{ s.goal }}~ } )\\   \colhline
    Rationale &  { ~{{ s.rationale }}~ } \\ \colhline
    Validation &{ ~{{s.validation}}~ } \\    

   \colhline
  \end{tabular}
  \label{tab:spectable:~{{ code }}~}
\end{table}
