\begin{table}[htp]
  \caption{Specification for ~{{ req.gid }}~ \fixmehl{ref \texttt{tab:spec:~{{ req.label }}~}}}
  \centering
  \begin{tabular}{p{0.13\textwidth}p{0.23\textwidth}p{0.13\textwidth}p{0.27\textwidth}p{0.13\textwidth}}   
     \rowcolor{dunesky}
       Label & Description  & Specification \newline (Goal) & Rationale & Validation \\  \colhline
   ~{ if req.goal -}~
  \newtag{~{{ req.gid }}~}{ spec:~{{ req.label }}~ }  & ~{{ req.name }}~  &  ~{{ req.vlatex }}~ \newline ( ~{{ req.goal }}~ ) &  ~{{ req.rationale }}~ &  ~{{ req.validation }}~ \\ \colhline
    ~{ else }~
  \newtag{~{{ req.gid }}~}{ spec:~{{ req.label }}~ }  & ~{{ req.name }}~  &  ~{{ req.vlatex }}~ &  ~{{ req.rationale }}~ &  ~{{ req.validation }}~ \\ \colhline
    ~{ endif }~
  \end{tabular}
  \label{tab:spec:~{{ req.label }}~}
\end{table}