volume-*.pdf
*.ppt
latexmk-out
auto
*.DS_Store*
*.aux
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.toc
*.lot
*.lof
*.tdo
vol-*.pdf
*.bbl
*.blg
*~
*.lock-waf*
.waf*
build
install
.DS_Store
*.pw
*.xlsx
_region_.tex
.*.xlsx#
other
generated/req-DP-FD-.tex
generated/req-SP-FD-.tex
